<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>customerList</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/daterangepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/table.css}"/>
    <script type="text/javascript" th:src="@{/css/date.js}"/>
    <script type="text/javascript" th:src="@{/css/daterangepicker.js}"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"/>
</head>
<body class="container">
<br/>
<h4>列表</h4>
<div>
    <form class="form-horizontal" th:action="@{/sales/agent}" th:object="${agentSearchForm}" method="post">
        <table>
            <tr>
                <td>姓名</td>
                <td><input th:field="*{name}" value="" class="form-control"/></td>
                <td>业务类型</td>
                <td><select th:field="*{businessType}" th:remove="all-but-first">
                    <option th:each="businessType : ${businessTypes}"
                            th:value="${businessType.id}" th:text="${businessType.name}">Credit card
                    </option>
                </select></td>
                <td>渠道类型</td>
                <td><select th:field="*{channelType}" th:remove="all-but-first">
                    <option th:each="channelType : ${channelTypes}"
                            th:value="${channelType.id}" th:text="${channelType.name}">Credit card
                    </option>
                </select></td>
            </tr>
            <tr>
                <td>生份证号</td>
                <td><input th:field="*{centiCode}" value="" class="form-control"/></td>
                <td>手机号</td>
                <td><input th:field="*{phoneNO}" value="" class="form-control"/></td>
                <td>公司名</td>
                <td><input th:field="*{companyName}" value="" class="form-control"/></td>
            </tr>
            <tr>
                <td>用户名</td>
                <td><input th:field="*{userName}" value="" class="form-control"/></td>
                <td>从业年限</td>
                <td><input th:field="*{jobYears}" value="" class="form-control"/></td>
            </tr>
            <tr>
                <td><input type="submit" value="Search" class="btn btn-info"/></td>
            </tr>
        </table>
    </form>
</div>
<div class="with:80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>序号</th>
            <th>姓名</th>
            <th>业务类型</th>
            <th>手机号</th>
            <th>公司名</th>
            <th>编辑</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="agentVO : ${agentVOs}">
            <td th:text="${agentVO.id}">1</td>
            <td th:text="${agentVO.name}">1</td>
            <td th:text="${agentVO.businessTypeName}">1</td>
            <td th:text="${agentVO.phoneNO}">1</td>
            <td th:text="${agentVO.companyName}">1</td>
            <td><a th:href="@{/sales/agent/toModify(id=${agentVO.id})}">edit</a></td>
            <td><a th:href="@{/sales/agent/delete(id=${agentVO.id})}">delete</a></td>
        </tr>
        </tbody>
    </table>
    <table>
        <tr>
            <td><a th:href="@{/sales/agent(pageNum=1)}">首页</a></td>
            <td th:switch="${pageNum}">
                <p th:case="1"><a th:href="@{/sales/agent(pageNum=1)}">上一页</a></p>
                <p th:case="*"><a th:href="@{/sales/agent(pageNum=${pageNum-1})}">上一页</a></p>
            </td>
            <td th:switch="${pageNum}">
                <p th:case="${totalPages}"><a th:href="@{/sales/agent(pageNum=${totalPages})}">下一页</a></p>
                <p th:case="*"><a th:href="@{/sales/agent(pageNum=${pageNum+1})}">下一页</a></p>
            </td>
            <td><a th:href="@{/sales/agent(pageNum=${totalPages})}">尾页</a></td>
        </tr>
    </table>

</div>
<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/agent/toAdd" th:href="@{/sales/agent/toAdd}" class="btn btn-info">add</a>
    </div>
</div>
</body>
</html>