<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>customerList</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/daterangepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/table.css}"/>
    <script type="text/javascript" th:src="@{/css/date.js}"/>
    <script type="text/javascript" th:src="@{/css/daterangepicker.js}"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"/>
    <script th:inline="javascript">
        function doQuery(pagePara) {
            /*<![CDATA[*/
            var pageNum = [[${pageNum}]];
            var totalPages = [[${totalPages}]];
            // /*]]>*/
            var queryForm = document.getElementById("queryForm")
            if(pagePara==-1){
                console.log("enter the -1 page")
                queryForm.action="/sales/performanceCommission?pageNum="+totalPages
            }else if(pagePara==1){
                queryForm.action="/sales/performanceCommission?pageNum="+pagePara
            }else {
                queryForm.action="/sales/performanceCommission?pageNum="+pageNum
            }
            queryForm.submit();
        }
        function doQueryMinus1(pageNum) {
            /*<![CDATA[*/
            var pageNum = [[${pageNum}]]-1;
            // /*]]>*/
            var queryForm = document.getElementById("queryForm")
            queryForm.action="/sales/performanceCommission?pageNum="+pageNum
            queryForm.submit();
        }
        function doQueryPlus1(pageNum) {
            /*<![CDATA[*/
            var pageNum = [[${pageNum}]]+1;
            // /*]]>*/
            var queryForm = document.getElementById("queryForm")
            queryForm.action="/sales/performanceCommission?pageNum="+pageNum
            queryForm.submit();
        }
    </script>
</head>
<body class="container">
<br/>
<h4>列表</h4>
<div>
    <form class="form-horizontal" id = "queryForm" th:action="@{/sales/performanceCommission}"
          th:object="${performanceCommissionSearchForm}" method="post">
        <table>
            <tr>
                <td>年月</td>
                <td><input th:field="*{month}" value="" class="form-control"/></td>
                <td>销售姓名</td>
                <td><input th:field="*{agentName}" value="" class="form-control"/></td>
                <td>雇员姓名</td>
                <td><input th:field="*{employeeName}" value="" class="form-control"/></td>
            </tr>
            <tr>
                <td>核算发放进度</td>
                <td><select th:field="*{process}" th:remove="all-but-first">
                    <option th:each="process : ${processs}"
                            th:value="${process.id}" th:text="${process.name}">Credit card
                    </option>
                </select></td>
            </tr>
            <tr>
                <td><input type="submit" value="Search" class="btn btn-info"/></td>
            </tr>
        </table>
    </form>
</div>
<div class="with:80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>序号</th>
            <th>年月</th>
            <th>销售姓名</th>
            <th>提成</th>
            <th>最低提成</th>
            <th>最高提成</th>
            <th>业绩</th>
            <th>收息</th>
            <th>核算发放进度</th>
            <th>查看明细</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="performanceCommissionVO : ${performanceCommissionVOs}">
            <td th:text="${performanceCommissionVO.id}">1</td>
            <td th:text="${performanceCommissionVO.month}">1</td>
            <td th:text="${performanceCommissionVO.salerName}">1</td>
            <td th:text="${performanceCommissionVO.commission}">1</td>
            <td th:text="${performanceCommissionVO.minCommission}">1</td>
            <td th:text="${performanceCommissionVO.maxCommission}">1</td>
            <td th:text="${performanceCommissionVO.performance}">1</td>
            <td th:text="${performanceCommissionVO.interest}">1</td>
            <td th:text="${performanceCommissionVO.processName}">1</td>
            <td><a th:href="@{/sales/performanceCommission/detailList(id=${performanceCommissionVO.id})}">看看</a></td>
        </tr>
        </tbody>
    </table>

    <table>
        <tr>
            <td><a href="javascript:doQuery(1)">首页</a></td>
            <td th:switch="${pageNum}">
                <p th:case="1"><a href="javascript:doQuery(1)">上一页</a></p>
                <p th:case="*"><a href="javascript:doQueryMinus1(1)">上一页</a></p>
            </td>
            <td th:switch="${pageNum}">
                <p th:case="${totalPages}"><a href="javascript:doQuery(-1)">下一页</a></p>
                <p th:case="*"><a href="javascript:doQueryPlus1(1)">下一页</a></p>
            </td>
            <td><a href="javascript:doQuery(-1)">尾页</a></td>
        </tr>
    </table>

</div>
<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/sales/performanceCommission/toAdd" th:href="@{/sales/performanceCommission/toAdd}"
           class="btn btn-info">add</a>
    </div>
</div>
</body>
</html>