<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>customerList</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/daterangepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/table.css}"/>
    <script type="text/javascript" th:src="@{/css/date.js}"/>
    <script type="text/javascript" th:src="@{/css/daterangepicker.js}"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"/>
</head>
<body class="container">
<br/>
<h4>新增</h4>
<div>
    <form class="form-horizontal" th:action="@{/util/reminder/add}" th:object="${reminder}" method="post">
        <table>
            <input type="hidden" th:field="*{id}"/>
            <tr>
                <td>提醒名称</td>
                <td><input th:field="*{name}" value="" class="form-control"/></td>
                <td>提醒人</td>
                <td><input th:field="*{positions}" value="" class="form-control"/></td>
                <td>提醒方式</td>
                <td><select th:field="*{way}" th:remove="all-but-first">
                    <option th:each="way : ${ways}"
                            th:value="${way.id}" th:text="${way.name}">Credit card
                    </option>
                </select></td>
                <td>提醒类型</td>
                <td><select th:field="*{type}" th:remove="all-but-first">
                    <option th:each="type : ${types}"
                            th:value="${type.id}" th:text="${type.name}">Credit card
                    </option>
                </select></td>
            </tr>
        </table>
        <table>
            <tr>
                <td>提醒规则</td>
                <td><textarea cols="120" rows="4" th:field="*{logicCondition}"></textarea></td>
            </tr>

            <tr>
                <td>提醒语言</td>
                <td><textarea cols="120" rows="4" th:field="*{sayWhat}"></textarea></td>
            </tr>
        </table>
        <table>
            <tr>
                <td><input type="submit" value="保存" class="btn btn-info"/></td>
            </tr>
        </table>
    </form>
</div>
<div class="form-group">
</div>
</body>
</html>