<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>customerList</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/daterangepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/table.css}"/>
    <script type="text/javascript" th:src="@{/css/date.js}"/>
    <script type="text/javascript" th:src="@{/css/daterangepicker.js}"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"/>
</head>
<body class="container">
<br/>
<h4>更新工作</h4>
<div>
    <form class="form-horizontal" th:action="@{/util/workFlow/modify}" th:object="${workFlow}" method="post">
        <table>
            <input type="hidden" class="form-control" th:field="*{id}"/>
            <tr>
                <td>工作类型</td>
                <td><select th:field="*{workType}" th:remove="all-but-first">
                    <option th:each="workType : ${workTypes}"
                            th:value="${workType.id}" th:text="${workType.name}">Credit card
                    </option>
                </select></td>
                <td>业务类型</td>
                <td><select th:field="*{busiType}" th:remove="all-but-first">
                    <option th:each="busiType : ${busiTypes}"
                            th:value="${busiType.id}" th:text="${busiType.name}">Credit card
                    </option>
                </select></td>
                <td>流转条件</td>
                <td><input th:field="*{transCondition}" value="" class="form-control"/></td>
            </tr>

            <tr>
                <td>岗位</td>
                <td><select th:field="*{positionId}" th:remove="all-but-first">
                    <option th:each="position : ${positions}"
                            th:value="${position.id}" th:text="${position.name}">Credit card
                    </option>
                </select></td>
                <td>工作描述</td>
                <td><select th:field="*{actionId}" th:remove="all-but-first">
                    <option th:each="action : ${actions}"
                            th:value="${action.id}" th:text="${action.name}">Credit card
                    </option>
                </select></td>
            </tr>

            <tr>
                <td>转前状态</td>
                <td><select th:field="*{beforeState}" th:remove="all-but-first">
                    <option th:each="beforeState : ${beforStates}"
                            th:value="${beforeState.id}" th:text="${beforeState.name}">Credit card
                    </option>
                </select></td>
                <td>按钮</td>
                <td><select th:field="*{buttonId}" th:remove="all-but-first">
                    <option th:each="button : ${buttons}"
                            th:value="${button.id}" th:text="${button.name}">Credit card
                    </option>
                </select></td>
                <td>转后状态</td>
                <td><select th:field="*{afterState}" th:remove="all-but-first">
                    <option th:each="afterState : ${afterStates}"
                            th:value="${afterState.id}" th:text="${afterState.name}">Credit card
                    </option>
                </select></td>
            </tr>
            <tr>
                <td><input type="submit" value="更新" class="btn btn-info"/></td>
            </tr>
        </table>
    </form>
</div>
<div class="form-group">
</div>
</body>
</html>