<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>user</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/daterangepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/table.css}"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"/>
    <script type="text/javascript" th:src="@{/css/daterangepicker.js}"/>
    <script type="text/javascript" th:src="@{/css/date.js}"/>
</head>

<body class="container">
<br/>
<h1>修改客户信息</h1>
<br/><br/>

<form class="form-horizontal" method="post" id="customer_form" th:action="@{/customer/modify(orderId=${orderId})}">
    <!--贷款人基本信息 -->
    <table id="borrower">
        <th>客户</th>
        <input type="hidden" class="form-control" th:field="*{customer.id}"/>
        <tr>
            <td>姓名</td>
            <td><input type="text" class="form-control" th:field="*{customer.name}" placeholder="姓名"/></td>
            <td>证件号</td>
            <td><input type="text" class="form-control" th:field="*{customer.certiCode}" placeholder="证件号"/></td>
            <td>银行</td>
            <td>
                <select th:field="*{customer.bankId}" th:remove="all-but-first">
                    <option th:each="bank : ${banks}"
                            th:value="${bank.id}" th:text="${bank.name}"
                            th:selected="${bank.id eq customer.bankId}">Credit card
                    </option>
                </select>
            </td>
            <td>银行卡号</td>
            <td><input type="text" class="form-control" th:field="*{customer.bankCode}" placeholder="银行卡号"/></td>
        </tr>
        <tr>
            <td>电话</td>
            <td><input type="text" class="form-control" th:field="*{customer.phone}" placeholder="电话"/></td>
            <td>地址</td>
            <td><input type="text" class="form-control" th:field="*{customer.address}" placeholder="地址"/></td>
            <td>性别</td>
            <td><input type="text" class="form-control" th:field="*{customer.gender}" placeholder="性别"/></td>
            <td>年龄</td>
            <td><input type="text" class="form-control" th:field="*{customer.age}" placeholder="年龄"/></td>
        </tr>
        <!--客户抵押物信息 -->
        <th>抵押物</th>
        <tr>
            <td>区域</td>
            <td>
                <select th:field="*{custMortgage.estateArea}" th:remove="all-but-first">
                    <option th:each="area : ${areaList}"
                            th:value="${area.id}" th:text="${area.name}"
                            th:selected="${area.id eq custMortgage.estateArea}">Credit card
                    </option>
                </select>
            </td>
            <td>房龄</td>
            <td><input type="text" class="form-control" th:field="*{custMortgage.estateAge}" placeholder="房龄"/></td>
            <td>类型</td>
            <td>
                <select th:field="*{custMortgage.estateType}" th:remove="all-but-first">
                    <option th:each="estateType : ${estateType}"
                            th:value="${estateType.id}" th:text="${estateType.name}"
                            th:selected="${estateType.id eq custMortgage.estateType}">Credit card
                    </option>
                </select>
            </td>
            <td>评估金额(万元)</td>
            <td><input type="text" class="form-control" th:field="*{custMortgage.estatePrice}" placeholder="评估金额"/></td>
        </tr>
        <!--客户征信信息 -->
        <th>客户征信</th>
        <tr>
            <td>两年内连超(次)</td>
            <td><input type="text" class="form-control" th:field="*{custCredit.contD2Times2Y}" placeholder="连超"/></td>
            <td>两年内总超(次)</td>
            <td><input type="text" class="form-control" th:field="*{custCredit.DDays2Y}" placeholder="累超"/></td>
            <td>最长逾期(天)</td>
            <td><input type="text" class="form-control" th:field="*{custCredit.maxDelay}" placeholder="逾期"/></td>
            <td>信用卡冻结余额(元)</td>
            <td><input type="text" class="form-control" th:field="*{custCredit.freezeAmount}" placeholder="冻结金额"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="保存客户" class="btn btn-info"/></td>
        </tr>
    </table>
</form>


</body>
</html>
