<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>customerList</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    -->
    <link rel="stylesheet" type = "text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type = "text/css" th:href="@{/css/daterangepicker.css}"/>
    <script type="text/javascript" th:src="@{/css/daterangepicker.js}"/>
    <script type="text/javascript" th:src="@{/css/date.js}"/>
</head>

<body class="container">
<br/>
<h1>订单列表</h1>
<br/><br/>

<!--查询条件-->
<div>
<form class="form-horizontal" th:action="@{/order/list}" th:object="${orderSearchForm}" method="post">
<table>
    <tr>
        <td>客户姓名</td>
        <td><input th:field="*{name}"  value=""/></td>

        <td>贷款类型</td>
        <td>
            <select th:field="*{type}" value="" th:remove="all-but-first">
                <option th:each="productType : ${productType}"
                        th:value="${productType.id}" th:text="${productType.name}">Credit card</option>
            </select>
        </td>

        <td>订单状态</td>
        <td>
            <select th:field="*{orderState}" value="" th:remove="all-but-first">
                <option th:each="orderStates : ${orderStates}"
                        th:value="${orderStates.id}" th:text="${orderStates.name}">Credit card</option>
            </select>
        </td>
    </tr>

    <tr>
        <td>开始日期</td>
        <td><input type="text" class="date-controll" th:field="*{startDate}"  value=""/></td>
        <td>结束日期</td>
        <td><input type="text" class="date-controll" th:field="*{endDate}" value=""/></td>
    </tr>

    <tr>
        <td><input type="submit" value="Search" class="btn btn-info"/></td>
    </tr>

</table>
</form>
</div>

<div class="with:80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>序号</th>
            <th>客户姓名</th>
            <th>产品类型</th>
            <th>金额</th>
            <th>申请日期</th>
            <th>编辑</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="orderListForm : ${orderListForms}">
            <th scope="row" th:text="${orderListForm.orderId}">1</th>
            <td th:text="${orderListForm.customerName}">neo</td>
            <td th:text="${orderListForm.productTypeName}">neo</td>
            <td th:text="${orderListForm.amount}">6</td>
            <td th:text="${orderListForm.applyDate}">6</td>
            <td><a th:href="@{/order/toEdit(id=${orderListForm.orderId})}">edit</a></td>
            <td><a th:href="@{/order/delete(id=${orderListForm.orderId})}">delete</a></td>
        </tr>

        </tbody>
    </table>
    <!--<table>-->
        <!--<tr>-->
            <!--<td><a th:href="@{/order/list?pageNum=0}">首页</a></td>-->
            <!--<td th:switch="${pageNum}">-->
                <!--<p th:case="1"> <a th:href="@{/order/list?pageNum=1}">上一页</a></p>-->
                <!--<p th:case="*"><a th:href="@{/order/list(pageNum=${pageNum-1})}">上一页</a></p>-->
            <!--</td>-->
            <!--<td th:switch="${pageNum}">-->
                <!--<p th:case="${totalPages}"><a th:href="@{/order/list(pageNum=${totalPages})}">下一页</a></p>-->
                <!--<p th:case="*"><a th:href="@{/order/list(pageNum=${pageNum+1})}">下一页</a></p>-->
            <!--</td>-->
            <!--<td><a th:href="@{/order/list(pageNum=${totalPages})}">尾页</a></td>-->
        <!--</tr>-->
    <!--</table>-->
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/order/toAdd" th:href="@{/order/toAdd}" class="btn btn-info">add</a>
    </div>
</div>

</body>
</html>