<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>user</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
    <link rel="stylesheet" th:href="@{/css/table.css}"></link>
</head>

<body class="container">
<br/>
<h1>添加订单</h1>
<br/><br/>

<form class="form-horizontal" method="post" id="order_form" th:action="@{/order/add}">
    <table>
        <th>申请人</th>
        <tr>
            <td>姓名</td>
            <!--<td><input type="text" class="form-control" th:field="*{order.applicantName}" placeholder="姓名"/></td>-->
            <td><input th:field="*{order.applicantName}" placeholder="姓名"/></td>
            <td>电话</td>
            <td><input type="text" class="form-control" th:field="*{order.cellPhone}" placeholder="电话"/></td>
            <td>业务类型</td>
            <td>
                <select name="businessType" th:remove="all-but-first">
                    <option th:each="businessType : ${businessTypes}"
                            th:value="${businessType.id}" th:text="${businessType.name}"
                            th:selected="${businessType.id eq order.businessType}">Credit card
                    </option>
                </select>
            </td>
        </tr>
    </table>
    <table>
        <!--客户诉求 -->
        <th>请录入借款诉求</th>
        <tr>
            <td>金额(万元)</td>
            <td><input type="text" class="form-control" th:field="*{order.demandAmount}" placeholder="金额"/></td>
            <!--<td>使用时间</td>-->
            <!--<td><input type="text" class="form-control" th:field="*{order.usingDate}" placeholder="使用时间"/></td>-->
            <td>还款选择</td>
            <td>
                <select name="payWay" th:remove="all-but-first">
                    <option th:each="payWay : ${payWays}"
                            th:value="${payWay.id}" th:text="${payWay.name}"
                            th:selected="${payWay.id eq order.demandPayWay}">Credit card
                    </option>
                </select>
            </td>
            <td>利率(上浮%)</td>
            <td><input type="text" class="form-control" th:field="*{order.demandInterest}" placeholder="利率(上浮%)"/></td>
        </tr>
        <tr>
            <td>周期类型</td>
            <td>
                <select name="periodType" th:remove="all-but-first">
                    <option th:each="periodType : ${periodTypes}"
                            th:value="${periodType.id}" th:text="${periodType.name}"
                            th:selected="${periodType.id eq order.periodType}">Credit card
                    </option>
                </select>
            </td>

            <td>周期数</td>
            <td><input type="text" class="form-control" th:field="*{order.demandNum}" placeholder="贷款周期数"/></td>
            <td>用款日期</td>
            <td><input type="text" class="form-control" th:field="*{order.demandDate}" value=""/></td>
        </tr>
    </table>

    <div class="with:80%">
        <table>
            <thead>
            <tr>
                <th>序号</th>
                <th>贷款人</th>
                <th>产品名称</th>
                <th>申请金额</th>
                <th>批贷金额</th>
                <th>状态</th>
                <th>批贷时间</th>
                <th>服务人员</th>
                <th>编辑</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="orderProductForm : ${orderProductFormList}">
                <td th:text="${orderProductForm.id}">1</td>
                <td th:text="${orderProductForm.borrowerName}">neo</td>
                <td th:text="${orderProductForm.productName}">neo</td>
                <td th:text="${orderProductForm.planAmount}">neo</td>
                <td th:text="${orderProductForm.realAmount}">neo</td>
                <td th:text="${orderProductForm.stateName}">neo</td>
                <td th:text="${orderProductForm.approveTime}">neo</td>
                <td th:text="${orderProductForm.serviceName}">neo</td>
                <td><a th:href="@{/order/toEdit(id=${orderProduct.orderId})}">edit</a></td>
                <td><a th:href="@{/order/delete(id=${orderProduct.orderId})}">delete</a></td>
            </tr>

            </tbody>
        </table>
        <!--<table>-->
        <!--<tr>-->
        <!--<td><a th:href="@{/order/list?pageNum=0}">首页</a></td>-->
        <!--<td th:switch="${pageNum}">-->
        <!--<p th:case="1"> <a th:href="@{/order/list?pageNum=1}">上一页</a></p>-->
        <!--<p th:case="*"><a th:href="@{/order/list(pageNum=${pageNum-1})}">上一页</a></p>-->
        <!--</td>-->
        <!--<td th:switch="${pageNum}">-->
        <!--<p th:case="${totalPages}"><a th:href="@{/order/list(pageNum=${totalPages})}">下一页</a></p>-->
        <!--<p th:case="*"><a th:href="@{/order/list(pageNum=${pageNum+1})}">下一页</a></p>-->
        <!--</td>-->
        <!--<td><a th:href="@{/order/list(pageNum=${totalPages})}">尾页</a></td>-->
        <!--</tr>-->
        <!--</table>-->
    </div>
</form>

</body>
</html>
