<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>user</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/daterangepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/table.css}"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"/>
    <script type="text/javascript" th:src="@{/css/daterangepicker.js}"/>
    <script type="text/javascript" th:src="@{/css/date.js}"/>
</head>

<body class="container">
<br/>
<h4>修改订单产品</h4>

<form class="form-horizontal" method="post" id="order_product_form" th:action="@{/orderProduct/modify}">
    <!--匹配的产品信息 -->
    <table id="orderProduct">
        <input type="hidden" class="form-control" th:field="*{orderProduct.id}"/>
        <tr>
            <td>产品名称</td>
            <td>
                <select th:field="*{orderProduct.productId}" th:remove="all-but-first">
                    <option th:each="product : ${products}"
                            th:value="${product.id}" th:text="${product.productName}"></option>
                </select>
            </td>

            <td>贷款人</td>
            <td>
                <select name="customer1" th:value="${customer1.id}" th:remove="all-but-first">
                    <option th:each="customer : ${customerList}"
                            th:value="${customer.id}" th:text="${customer.name}"></option>
                </select>
            </td>
            <td>抵押人</td>
            <td>
                <select name="customer2" th:value="${customer2.id}" th:remove="all-but-first">
                    <option th:each="customer : ${customerList}"
                            th:value="${customer.id}" th:text="${customer.name}"></option>
                </select>
            </td>
            <td>连带贷款人</td>
            <td>
                <select name="customer3" th:value="${customer3.id}" th:remove="all-but-first">
                    <option th:each="customer : ${customerList}"
                            th:value="${customer.id}" th:text="${customer.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>计划匹配金额(万)</td>
            <td><input type="text" class="form-control" th:field="*{orderProduct.planAmount}" placeholder="计划匹配金额(万)"/>
            </td>
            <td>计划利率</td>
            <td><input type="text" class="form-control" th:field="*{orderProduct.planInterest}" placeholder="计划利率"/>
            </td>
            <td>计划还款方式</td>
            <td>
                <select th:field="*{orderProduct.planPayWay}" th:remove="all-but-first">
                    <option th:each="payWay : ${payWays}"
                            th:value="${payWay.id}" th:text="${payWay.name}"></option>
                </select>
            </td>
            <td>计划周期类型</td>
            <td>
                <select th:field="*{orderProduct.planPeriodType}" th:remove="all-but-first">
                    <option th:each="periodType : ${periodTypes}"
                            th:value="${periodType.id}" th:text="${periodType.name}"></option>
                </select>
            </td>
            <td>计划周期数</td>
            <td><input type="text" class="form-control" th:field="*{orderProduct.planPeriodNum}" placeholder="计划周期数"/>
            </td>
        </tr>
        <tr>
            <td>真实匹配金额(万)</td>
            <td><input type="text" class="form-control" th:field="*{orderProduct.realAmount}" placeholder="真实匹配金额(万)"/>
            </td>
            <td>真实利率</td>
            <td><input type="text" class="form-control" th:field="*{orderProduct.realInterest}" placeholder="真实利率"/>
            </td>
            <td>真实还款方式</td>
            <td>
                <select th:field="*{orderProduct.realPayWay}" th:remove="all-but-first">
                    <option th:each="payWay : ${payWays}"
                            th:value="${payWay.id}" th:text="${payWay.name}"></option>
                </select>
            </td>
            <td>真实周期类型</td>
            <td>
                <select th:field="*{orderProduct.realPeriodType}" th:remove="all-but-first">
                    <option th:each="periodType : ${periodTypes}"
                            th:value="${periodType.id}" th:text="${periodType.name}"></option>
                </select>
            </td>
            <td>真实周期数</td>
            <td><input type="text" class="form-control" th:field="*{orderProduct.realPeriodNum}" placeholder="真实周期数"/>
            </td>
        </tr>
        <tr>
            <td>批贷时间</td>
            <td><input type="text" class="form-control" id="approveTime" name="approveTime"
                       th:value="*{orderProduct.approveTime ne null} ? *{#dates.format(orderProduct.approveTime,'yyyy-MM-dd')}"
                       placeholder="yyyy-MM-dd"/></td>
        </tr>

        <tr>
            <td><input type="submit" value="更新方案" class="btn btn-info"/></td>
        </tr>
    </table>
</form>
</body>
</html>
