<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>user</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/daterangepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/table.css}"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"/>
    <script type="text/javascript" th:src="@{/css/daterangepicker.js}"/>
    <script type="text/javascript" th:src="@{/css/date.js}"/>
    <style>
        .required-field::after {
            content: "*";
            color: red;
            margin-left: 2px
        }
    </style>

    <script th:inline="javascript">

        function AddButton() {
            /*<![CDATA[*/
            //生成输入框
            var inputFiled = [[${formatInfos}]];
            console.log(inputFiled)
            var infoList = JSON.parse(inputFiled);
            var inputTable=document.getElementById("inputTable");
            /*<![CDATA[*/
            for (var p in infoList) {//遍历json数组时，这么写p为索引，从0开始
                var chName = infoList[p].chName;
                var enName = infoList[p].enName;
                var dataValue = infoList[p].dataValue;

                if (p % 3 == 0) {
                    var row = inputTable.insertRow()
                }
                var title = row.insertCell();
                title.innerHTML = chName
                var input = row.insertCell();
                input.innerHTML = "<input disabled='disabled' type='text' class='form-control' id=" + enName + " name=" + enName + " value=" + dataValue + ">"
            }
            /*]]>*/
        }

    </script>
</head>

<body class="container" onload="AddButton()">
<br/>
<h4>订单信息</h4>

<form class="form-horizontal" method="post" id="order_form" enctype="multipart/form-data">
    <table>
        <tr>
            <td>业务类型</td>
            <td>
                <select disabled = "disabled" th:field="*{order.businessType}" th:remove="all-but-first">
                    <option th:each="businessType : ${businessTypes}"
                            th:value="${businessType.id}" th:text="${businessType.name}"
                            th:selected="${businessType.id eq order.businessType}">
                    </option>
                </select>
            </td>
            <td>姓名</td>
            <td><input disabled = "disabled" type="text" class="form-control" th:field="*{order.applicantName}" /></td>
            <td>销售姓名</td>
            <td><input disabled = "disabled" type="text" class="form-control" id="saleName" th:value="${agentName}" /></td>
            <td>部门</td>
            <td><input disabled = "disabled" type="text" class="form-control" id="deptName" th:value="${deptName}" /></td>
        </tr>

        <tr>
            <td>垫资金额</td>
            <td><input disabled = "disabled" type="text" class="form-control" th:field="*{order.lastAmount}" /></td>
            <td>批贷金额</td>
            <td><input disabled = "disabled" type="text" class="form-control" th:field="*{order.nextAmount}" /></td>
            <td>用款日期</td>
            <td><input disabled = "disabled" type="text" class="form-control" id="demandDate" name="demandDate"
                       th:value="*{order.demandDate ne null} ? *{#dates.format(order.demandDate,'yyyy-MM-dd')}"/></td>
            <td>备注</td>
            <td><input disabled = "disabled" type="text" class="form-control" th:field="*{order.comments}" /></td>
        </tr>
    </table>

    <table id="inputTable"><th id="needTh">详细信息</th></table>
</form>

</body>
</html>
