<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>customerList</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/daterangepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/table.css}"/>
    <script type="text/javascript" th:src="@{/css/date.js}"/>
    <script type="text/javascript" th:src="@{/css/daterangepicker.js}"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"/>
</head>
<body class="container">
<br/>
<h4>新增</h4>
<div>
    <form class="form-horizontal" th:action="@{/cs/knowledge/add}" th:object="${knowledge}" method="post">
        <table>
            <tr>
                <td>名称</td>
                <td><input th:field="*{questionName}" value="" class="form-control"/></td>
                <td>问题</td>
                <td><input th:field="*{question}" value="" class="form-control"/></td>
                <td>问题类型</td>
                <td><select th:field="*{questionType}" th:remove="all-but-first">
                    <option th:each="questionType : ${questionTypes}"
                            th:value="${questionType.id}" th:text="${questionType.name}">Credit card
                    </option>
                </select></td>
            </tr>
            <tr>
                <td>答案</td>
                <td><input th:field="*{answer}" value="" class="form-control"/></td>
            </tr>
            <tr>
                <td><input type="submit" value="保存" class="btn btn-info"/></td>
            </tr>
        </table>
    </form>
</div>
<div class="form-group">
</div>
</body>
</html>