<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>customerList</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/daterangepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/table.css}"/>
    <script type="text/javascript" th:src="@{/css/date.js}"/>
    <script type="text/javascript" th:src="@{/css/daterangepicker.js}"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"/>
</head>
<body class="container">
<br/>
<h4>列表</h4>
<div>
    <form class="form-horizontal" th:action="@{/cs/workOrder}" th:object="${workOrderSearchForm}" method="post">
        <table>
            <tr>
                <td>工单名称</td>
                <td><input th:field="*{csName}" value="" class="form-control"/></td>
                <td>工单类型</td>
                <td><select th:field="*{cstype}" th:remove="all-but-first">
                    <option th:each="cstype : ${cstypes}"
                            th:value="${cstype.id}" th:text="${cstype.name}">Credit card
                    </option>
                </select></td>
                <td>订单id</td>
                <td><input th:field="*{orderId}" value="" class="form-control"/></td>
            </tr>
            <tr>
                <td>客户姓名</td>
                <td><input th:field="*{customerName}" value="" class="form-control"/></td>
                <td>处理状态</td>
                <td><select th:field="*{csState}" th:remove="all-but-first">
                    <option th:each="csState : ${csStates}"
                            th:value="${csState.id}" th:text="${csState.name}">Credit card
                    </option>
                </select></td>
            </tr>
            <tr>
                <td><input type="submit" value="Search" class="btn btn-info"/></td>
            </tr>
        </table>
    </form>
</div>
<div class="with:80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>序号</th>
            <th>工单名称</th>
            <th>工单类型</th>
            <th>订单id</th>
            <th>客户姓名</th>
            <th>处理状态</th>
            <th>编辑</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="workOrderVO : ${workOrderVOs}">
            <td th:text="${workOrderVO.id}">1</td>
            <td th:text="${workOrderVO.csName}">1</td>
            <td th:text="${workOrderVO.cstypeName}">1</td>
            <td th:text="${workOrderVO.orderId}">1</td>
            <td th:text="${workOrderVO.customerName}">1</td>
            <td th:text="${workOrderVO.csStateName}">1</td>
            <td><a th:href="@{/cs/workOrder/toModify(id=${workOrderVO.id})}">edit</a></td>
            <td><a th:href="@{/cs/workOrder/delete(id=${workOrderVO.id})}">delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/cs/workOrder/toAdd" th:href="@{/cs/workOrder/toAdd}" class="btn btn-info">add</a>
    </div>
</div>
</body>
</html>