<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>customerList</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/daterangepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/table.css}"/>
    <script type="text/javascript" th:src="@{/css/date.js}"/>
    <script type="text/javascript" th:src="@{/css/daterangepicker.js}"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"/>
</head>
<body class="container">
<br/>
<h4>列表</h4>
<div>
    <form class="form-horizontal" th:action="@{/finance/account}" th:object="${accountSearchForm}" method="post">
        <table>
            <tr>
                <td>账号名</td>
                <td><input th:field="*{accountNames}" value="" class="form-control"/></td>
                <td>银行</td>
                <td><select th:field="*{bank}" th:remove="all-but-first">
                    <option th:each="bank : ${banks}"
                            th:value="${bank.id}" th:text="${bank.name}">Credit card
                    </option>
                </select></td>
            </tr>
            <tr>
                <td><input type="submit" value="Search" class="btn btn-info"/></td>
            </tr>
        </table>
    </form>
</div>
<div class="with:80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>序号</th>
            <th>账号名</th>
            <th>账号</th>
            <th>银行</th>
            <th>编辑</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="accountVO : ${accountVOs}">
            <td th:text="${accountVO.id}">1</td>
            <td th:text="${accountVO.accountNames}">1</td>
            <td th:text="${accountVO.amountNo}">1</td>
            <td th:text="${accountVO.bankName}">1</td>
            <td><a th:href="@{/finance/account/toModify(id=${accountVO.id})}">edit</a></td>
            <td><a th:href="@{/finance/account/delete(id=${accountVO.id})}">delete</a></td>
        </tr>
        </tbody>
    </table>
    <table>
        <tr>
            <td><a th:href="@{/finance/account(pageNum=1)}">首页</a></td>
            <td th:switch="${pageNum}">
                <p th:case="1"><a th:href="@{/finance/account(pageNum=1)}">上一页</a></p>
                <p th:case="*"><a th:href="@{/finance/account(pageNum=${pageNum-1})}">上一页</a></p>
            </td>
            <td th:switch="${pageNum}">
                <p th:case="${totalPages}"><a th:href="@{/finance/account(pageNum=${totalPages})}">下一页</a></p>
                <p th:case="*"><a th:href="@{/finance/account(pageNum=${pageNum+1})}">下一页</a></p>
            </td>
            <td><a th:href="@{/finance/account(pageNum=${totalPages})}">尾页</a></td>
        </tr>
    </table>
</div>
<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/finance/account/toAdd" th:href="@{/finance/account/toAdd}" class="btn btn-info">add</a>
    </div>
</div>
</body>
</html>