<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>customerList</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/daterangepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/table.css}"/>
    <script type="text/javascript" th:src="@{/css/date.js}"/>
    <script type="text/javascript" th:src="@{/css/daterangepicker.js}"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"/>
</head>
<body class="container">
<br/>
<h4>新增</h4>
<div>
    <form class="form-horizontal" th:action="@{/finance/payment/addBusiFee}" th:object="${payment}" method="post">
        <table>
            <input type="hidden" class="form-control" th:field="*{relatedId}"/>
            <tr>
                <td>金额</td>
                <td><input th:field="*{amount}" value="" class="form-control"/></td>
                <td>公司银行卡</td>
                <td><input th:field="*{compCardNo}" value="" class="form-control"/></td>
            </tr>
            <tr>
                <td>对方银行</td>
                <td>
                <select th:field="*{otherBankId}" th:remove="all-but-first">
                    <option th:each="bank : ${banks}"
                            th:value="${bank.id}" th:text="${bank.name}"
                            th:selected="${bank.id eq otherBankId}">Credit card
                    </option>
                </select>
                </td>
                <td>对方银行卡号</td>
                <td><input th:field="*{otherCardNo}" value="" class="form-control"/></td>

                <td>支付日期</td>
                <td><input th:field="*{payDate}" value="" class="form-control"/></td>
            </tr>
            <tr>
                <td>对方姓名</td>
                <td><input th:field="*{accountName}" value="" class="form-control"/></td>
            </tr>
            <tr>
                <td><input type="submit" value="保存" class="btn btn-info"/></td>
            </tr>
        </table>
    </form>
</div>
<div class="form-group">
</div>
</body>
</html>