<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style type="text/css">
.divX
{
    z-index:200;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    line-height:10px;
    text-align:center;
    font-weight:bold;
    cursor:pointer;
    font-size:10px;
    display: none;
}
</style>
</head>

<body>

<div class="takeOrder_infor takeOrder_userinfor">
    <ul>
        <li><span>客户姓名：</span><input type="text" id="customerName" name="textbox" placeholder="请输入客户姓名"/></li>
        <li><span>客户电话：</span><input type="text" id="customerTel" name="textbox" placeholder="请输入客户电话"/></li>
        <li><span>您的电话：</span><input type="text" id="agentTel" name="textbox" placeholder="请输入您的电话" /></li>
    </ul>
</div>
	<form id="form" style="margin-top:20px;">

        <div id="img_div_1">
            <input type="file" id="file_input" onchange="addFile(this);" style="display:none"  />
            <div style="position: relative;">
            	<img id="file_img" src="add_img.png" width="75" onclick="file_input.click();" height="65" />
            </div>
            <div class="divX" id="img_zindex_div_1" onclick="del()">
            	<img src="no.png" width="16" height="16" />
            </div>
        </div>

	</form>
</body>

<script th:src="@{/Bootstrap/jquery-1.9.1.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/client/css/reset.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/client/css/main.css}"/>
<script type="text/javascript" th:src="@{/client/js/main.js}" ></script>

<script type="text/javascript">

	function addFile(ths) {
        var objUrl = getObjectURL(ths.files[0]);
        var left = $('#file_img').offset().left;
        var top = $('#file_img').offset().top;

        // left为默认图的最左侧距离， 添加后的图片可根据 默认图的宽度 - 删除层图片的宽度(即：当前我默认图的宽度为75，删除层的图片宽度为16, left = 75 - 16, 位置就能到图片的最右侧了！ top也是同样道理)
        $('#img_zindex_div_1').css({position: "absolute", left: left + 59, top: top - 5, display: "block" });
        $('#file_img').attr("src", objUrl);
    }

    function del() {
        alert("删除");
    }

    function getObjectURL(file) {
        var url = null ;
        if (window.createObjectURL!=undefined) { // basic
            url = window.createObjectURL(file) ;
        } else if (window.URL!=undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file) ;
        } else if (window.webkitURL!=undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file) ;
        }
        return url ;
    }
</script>
</html>