<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>customerList</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/daterangepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/table.css}"/>
    <script type="text/javascript" th:src="@{/css/date.js}"/>
    <script type="text/javascript" th:src="@{/css/daterangepicker.js}"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"/>
</head>
<body class="container">
<br/>
<h4>新增</h4>
<div>
    <form class="form-horizontal" th:action="@{/ums/roleResource/add}" th:object="${roleResource}" method="post">
        <table>
            <input type="hidden" th:field="*{id}"/>
            <tr>
                <td>角色</td>
                <td><select th:field="*{roleId}" th:remove="all-but-first">
                    <option th:each="roleId : ${roleIds}"
                            th:value="${roleId.id}" th:text="${roleId.name}">Credit card
                    </option>
                </select></td>
                <td>资源</td>
                <td><select th:field="*{resId}" th:remove="all-but-first">
                    <option th:each="resId : ${resIds}"
                            th:value="${resId.id}" th:text="${resId.name}">Credit card
                    </option>
                </select></td>
                <td>权限类型</td>
                <td><select th:field="*{type}" th:remove="all-but-first">
                    <option th:each="type : ${types}"
                            th:value="${type.id}" th:text="${type.name}">Credit card
                    </option>
                </select></td>
            </tr>
            <tr>
                <td><input type="submit" value="保存" class="btn btn-info"/></td>
            </tr>
        </table>
    </form>
</div>
<div class="form-group">
</div>
</body>
</html>