<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>customerList</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/daterangepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/table.css}"/>
    <script type="text/javascript" th:src="@{/css/date.js}"/>
    <script type="text/javascript" th:src="@{/css/daterangepicker.js}"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"/>
</head>
<body class="container">
<br/>
<h4>新增</h4>
<div>
    <form class="form-horizontal" th:action="@{/hr/action/modify}" th:object="${action}" method="post">
        <table>
            <input type="hidden" class="form-control" id="id" name = "id" th:value="*{id}"/>
            <tr>
                <td>业务行动</td>
                <td><input th:field="*{name}" value="" class="form-control"/></td>
                <td>所属岗位</td>
                <td><select th:field="*{positionId}" th:remove="all-but-first">
                    <option th:each="positionId : ${positionIds}"
                            th:value="${positionId.id}" th:text="${positionId.name}">Credit card
                    </option>
                </select></td>
                <td>是否参与提成</td>
                <td><select th:field="*{isCommission}" th:remove="all-but-first">
                    <option th:each="isCommission : ${isCommissions}"
                            th:value="${isCommission.id}" th:text="${isCommission.name}">Credit card
                    </option>
                </select></td>
            </tr>
            <tr>
                <td><input type="submit" value="保存" class="btn btn-info"/></td>
            </tr>
        </table>
    </form>
</div>
<div class="form-group">
</div>
</body>
</html>