<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>customerList</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/daterangepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/table.css}"/>
    <script type="text/javascript" th:src="@{/css/date.js}"/>
    <script type="text/javascript" th:src="@{/css/daterangepicker.js}"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"/>
</head>
<body class="container">
<br/>
<h4>新增</h4>
<div>
    <form class="form-horizontal" th:action="@{/hr/attendance/add}" th:object="${attendance}" method="post">
        <table>
            <tr>
                <td>员工名称</td>
                <td><input th:field="*{empName}" value="" class="form-control"/></td>
                <td>年月</td>
                <td><input th:field="*{month}" value="" class="form-control"/></td>
                <td>日期</td>
                <td><input th:field="*{workDay}" value="" class="form-control"/></td>
            </tr>
            <tr>
                <td>打卡时间</td>
                <td><input th:field="*{checkTime}" value="" class="form-control"/></td>
                <td>请假类型</td>
                <td><select th:field="*{askType}" th:remove="all-but-first">
                    <option th:each="askType : ${askTypes}"
                            th:value="${askType.id}" th:text="${askType.name}">Credit card
                    </option>
                </select></td>
                <td>请假开始时间</td>
                <td><input th:field="*{askBeginTime}" value="" class="form-control"/></td>
            </tr>
            <tr>
                <td>请假结束时间</td>
                <td><input th:field="*{askEndTime}" value="" class="form-control"/></td>
            </tr>
            <tr>
                <td><input type="submit" value="保存" class="btn btn-info"/></td>
            </tr>
        </table>
    </form>
</div>
<div class="form-group">
</div>
</body>
</html>