<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>customerList</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/daterangepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/table.css}"/>
    <script type="text/javascript" th:src="@{/css/date.js}"/>
    <script type="text/javascript" th:src="@{/css/daterangepicker.js}"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"/>
    <script th:inline="javascript">
        function doQuery(pagePara) {
            /*<![CDATA[*/
            var pageNum = [[${pageNum}]];
            var totalPages = [[${totalPages}]];
            // /*]]>*/
            var queryForm = document.getElementById("queryForm")
            if(pagePara==-1){
                console.log("enter the -1 page")
                queryForm.action="/hr/curriculum?pageNum="+totalPages
            }else if(pagePara==1){
                queryForm.action="/hr/curriculum?pageNum="+pagePara
            }else {
                queryForm.action="/hr/curriculum?pageNum="+pageNum
            }
            queryForm.submit();
        }
        function doQueryMinus1(pageNum) {
            /*<![CDATA[*/
            var pageNum = [[${pageNum}]]-1;
            // /*]]>*/
            var queryForm = document.getElementById("queryForm")
            queryForm.action="/hr/curriculum?pageNum="+pageNum
            queryForm.submit();
        }
        function doQueryPlus1(pageNum) {
            /*<![CDATA[*/
            var pageNum = [[${pageNum}]]+1;
            // /*]]>*/
            var queryForm = document.getElementById("queryForm")
            queryForm.action="/hr/curriculum?pageNum="+pageNum
            queryForm.submit();
        }
    </script>
</head>
<body class="container">
<br/>
<h4>列表</h4>
<div>
    <form class="form-horizontal" id = "queryForm" th:action="@{/hr/curriculum}" th:object="${curriculumSearchForm}" method="post">
        <table>
            <tr>
                <td>课程名称</td>
                <td><input th:field="*{name}" value="" class="form-control"/></td>
                <td>课程类型</td>
                <td><select th:field="*{type}" th:remove="all-but-first">
                    <option th:each="type : ${types}"
                            th:value="${type.id}" th:text="${type.name}">Credit card
                    </option>
                </select></td>
                <td>授课老师</td>
                <td><input th:field="*{teacherName}" value="" class="form-control"/></td>
            </tr>
            <tr>
                <td>听课岗位</td>
                <td><select th:field="*{posId}" th:remove="all-but-first">
                    <option th:each="posId : ${posIds}"
                            th:value="${posId.id}" th:text="${posId.name}">Credit card
                    </option>
                </select></td>
            </tr>
            <tr>
                <td><input type="submit" value="Search" class="btn btn-info"/></td>
            </tr>
        </table>
    </form>
</div>
<div class="with:80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>序号</th>
            <th>课程名称</th>
            <th>课程类型</th>
            <th>授课老师</th>
            <th>听课岗位</th>
            <th>编辑</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="curriculumVO : ${curriculumVOs}">
            <td th:text="${curriculumVO.id}">1</td>
            <td th:text="${curriculumVO.name}">1</td>
            <td th:text="${curriculumVO.typeName}">1</td>
            <td th:text="${curriculumVO.teacherName}">1</td>
            <td th:text="${curriculumVO.posIdName}">1</td>
            <td><a th:href="@{/hr/curriculum/toModify(id=${curriculumVO.id})}">edit</a></td>
            <td><a th:href="@{/hr/curriculum/delete(id=${curriculumVO.id})}">delete</a></td>
        </tr>
        </tbody>
    </table>

    <table>
        <tr>
            <td><a href="javascript:doQuery(1)">首页</a></td>
            <td th:switch="${pageNum}">
                <p th:case="1"><a href="javascript:doQuery(1)">上一页</a></p>
                <p th:case="*"><a href="javascript:doQueryMinus1(1)">上一页</a></p>
            </td>
            <td th:switch="${pageNum}">
                <p th:case="${totalPages}"><a href="javascript:doQuery(-1)">下一页</a></p>
                <p th:case="*"><a href="javascript:doQueryPlus1(1)">下一页</a></p>
            </td>
            <td><a href="javascript:doQuery(-1)">尾页</a></td>
        </tr>
    </table>
</div>
<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/hr/curriculum/toAdd" th:href="@{/hr/curriculum/toAdd}" class="btn btn-info">add</a>
    </div>
</div>
</body>
</html>