<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>customerList</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/daterangepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/table.css}"/>
    <script type="text/javascript" th:src="@{/css/date.js}"/>
    <script type="text/javascript" th:src="@{/css/daterangepicker.js}"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"/>
</head>
<body class="container">
<br/>
<h4>列表</h4>
<div>
    <form class="form-horizontal" th:action="@{/hr/employee}" th:object="${employeeSearchForm}" method="post">
        <table>
            <tr>
                <td>姓名</td>
                <td><input th:field="*{name}" value="" class="form-control"/></td>
                <td>生日</td>
                <td><input th:field="*{birthday}" value="" class="form-control"/></td>
                <td>城市</td>
                <td><select th:field="*{city}" th:remove="all-but-first">
                    <option th:each="city : ${citys}"
                            th:value="${city.id}" th:text="${city.name}">Credit card
                    </option>
                </select></td>
            </tr>
            <tr>
                <td>所在部门</td>
                <td><select th:field="*{dept}" th:remove="all-but-first">
                    <option th:each="dept : ${depts}"
                            th:value="${dept.id}" th:text="${dept.name}">Credit card
                    </option>
                </select></td>
                <td>管理职级</td>
                <td><select th:field="*{manageGrade}" th:remove="all-but-first">
                    <option th:each="manageGrade : ${manageGrades}"
                            th:value="${manageGrade.id}" th:text="${manageGrade.name}">Credit card
                    </option>
                </select></td>
                <td>技术职级</td>
                <td><select th:field="*{techGrade}" th:remove="all-but-first">
                    <option th:each="techGrade : ${techGrades}"
                            th:value="${techGrade.id}" th:text="${techGrade.name}">Credit card
                    </option>
                </select></td>
            </tr>
            <tr>
                <td>电话</td>
                <td><input th:field="*{phone}" value="" class="form-control"/></td>
            </tr>
            <tr>
                <td><input type="submit" value="Search" class="btn btn-info"/></td>
            </tr>
        </table>
    </form>
</div>
<div class="with:80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>序号</th>
            <th>姓名</th>
            <th>所在部门</th>
            <th>技术职级</th>
            <th>编辑</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employeeVO : ${employeeVOs}">
            <td th:text="${employeeVO.id}">1</td>
            <td th:text="${employeeVO.name}">1</td>
            <td th:text="${employeeVO.deptName}">1</td>
            <td th:text="${employeeVO.techGradeName}">1</td>
            <td><a th:href="@{/hr/employee/toModify(id=${employeeVO.id})}">edit</a></td>
            <td><a th:href="@{/hr/employee/delete(id=${employeeVO.id})}">delete</a></td>
        </tr>
        </tbody>
    </table>
    <table>
        <tr>
            <td><a th:href="@{/hr/employee(pageNum=1)}">首页</a></td>
            <td th:switch="${pageNum}">
                <p th:case="1"><a th:href="@{/hr/employee(pageNum=1)}">上一页</a></p>
                <p th:case="*"><a th:href="@{/hr/employee(pageNum=${pageNum-1})}">上一页</a></p>
            </td>
            <td th:switch="${pageNum}">
                <p th:case="${totalPages}"><a th:href="@{/hr/employee(pageNum=${totalPages})}">下一页</a></p>
                <p th:case="*"><a th:href="@{/hr/employee(pageNum=${pageNum+1})}">下一页</a></p>
            </td>
            <td><a th:href="@{/hr/employee(pageNum=${totalPages})}">尾页</a></td>
        </tr>
    </table>
</div>
<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/hr/employee/toAdd" th:href="@{/hr/employee/toAdd}" class="btn btn-info">add</a>
    </div>
</div>
</body>
</html>